<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.zch.utilslib"
>

    <!--全局弹窗dialog权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >
        <receiver
            android:name="utilslib.service.WakeUpReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="com.xdandroid.hellodaemon.CANCEL_JOB_ALARM_SUB"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="utilslib.service.WakeUpReceiver$WakeUpAutoStartReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="utilslib.service.AbsWorkService$WorkNotificationService"/>

        <service
            android:name="utilslib.service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:process=":watch"/>

        <service
            android:name="utilslib.service.WatchDogService"
            android:process=":watch"/>

        <service
            android:name="utilslib.service.WatchDogService$WatchDogNotificationService"
            android:process=":watch"/>
        <service android:name="utilslib.dialog.CommonDialogService"/>
    </application>

</manifest>
